@media all and (min-width:770px) and (max-width:991px) 
{
    #bloc_page
    {
        width: auto;
        flex-direction: column;
        
    }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------------*/
/* ---------Règles générales-------*/


body 
{ 
  margin: auto;
  max-width: 992px;
  font-family: "Raleway", sans-serif;
  font-size: 16px ;
 }

h1
{
justify-content: center;
  font-size: 16px;
  font-weight:800;
  
   line-height: 20px;
   padding-bottom: 10px;
   padding-left: 0px;
}
h2 
{
   
  font-size: 18px;
  font-weight:800;
 
   line-height: 20px;
   padding-left: 10px;
}
h3 
{
  display: flex;
  color: #000000;
  font-weight: 800;
  font-size: 14px;
  line-height: 15px;
}

h4
{ 
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

p 
{

  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}


/* ------------------------------------------------------*/
/* ----------Règles applicables au HEADER ---------------*/
/* ------------------------------------------------------*/
header 
{
  display: flex;

  flex-direction: column;
  align-items:center;
  height: 150px;
  width: auto;
}

.Titre_principale_slogan
{ 
  display : flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px;
  padding-left: 25px;
}




#bloclogo{display: flex;
  
  margin-top: 20px;
  width: 30%;
 padding-left: 0px;
}
nav 
{ 
  display: flex;
  width: 100%;

  
}

.liste_de_navigation
{
  display: flex;
 
  justify-content:space-around;
  width: 50%;
  padding-left: 0px;
  height: auto;
  
}

a 
{
align-items: center;
flex-direction: row;
text-decoration: none;
color: black;
}

a:link 
{ display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 15px ;
  font-weight: 500;
}

a:hover 
{
  color: #0065fc;

}

.élément_de_navigation 
{
  display: flex;
  justify-items:center;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #f2f2f2;
  justify-content: center;
  width:100%;
  margin: 0px;
  padding : 0px 0px 10px 0px
}



.élément_de_navigation:hover 
{
  display: flex;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #0065fc;
 
}

/*-------------Bloc  SECTION 1  recherche---------------*/

.barre_de_recherche 
{
  display:flex;
  align-items: center;
  border: solid #f2f2f2 1px;
  border-radius: 15px 15px 15px 15px;
  width: 29%;
  height:45px;
  margin-top:15px;
   margin-left: 20px;
}

.fa-location-dot 
{
  display: flex;
  
  background-color: rgb(236, 236, 236);
  padding: 16px 18px 16px 18px;
 border-radius: 14px 0 0 14px;
  
}

input::placeholder
{ display: inline;
  border: none;
  font-size:small;
  color: #000000;
  font-size: 13px;
 font-family: "Raleway", sans-serif;
  font-weight: 800;
  padding-left: 10px;
  width: 209px;
}


button 
{
  display: none;
}


#fa-search
{
  display:flex;
  color:white;
  width: 46px;
  height: 46px;
  align-items: center;
  border-radius:15px;
  justify-content: center;
  font-size: 16px;
  margin-left: 7px;

}


button:hover 
{
  box-shadow: 5px 5px 10px rgba(151, 151, 151, 0.808);
  cursor: pointer;
}

button:active 
{
  background: linear-gradient(#0246acec, #0060f0ef, #025adfea, #044099e1);
  padding-top: 2px;
}


/*-------------FILTRES---------------*/

.zonefiltres 
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 20px;
}
.libellé_Filtres
{display: flex;
  font-size: 13px;
  font-weight: 800;
  padding-left: 5px;
}
.container_boutons
{
  display:flex;
  align-items: center;
  flex-wrap: wrap;

}
.boutondetri /* cible le bouton dans son intégralité */ 
{
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border: solid #ebe8e8 2px;
  height: 40px;
  border-radius: 20px;


  margin: 0px 10px 0px 10px;
  
}

.boutondetri:hover /* cible le bouton dans son intégralité */ 
{
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(224, 224, 224, 0.808);
  transform: translatey(-1px);
  background-color: #0065fc;
  color:#ffffff;}
.boutondetri:active 
{
  box-shadow: 5px 5px 10px rgba(248, 247, 247, 0.808);
  transform: translateY(-1px);
}

.boutondetri i /* cible les icônes des filtres */ 
{
  display: flex;
  background-color: #deebff;
  padding: 11px 11px 11px 11px;
  color: #0065fc;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: -2px; /* alignement sur le trait de contour */
}
.libellébouton 
{
  font-size: 13px;
  font-weight: 800;
  padding-right: 10px;
}


.Résultats_de_recherche 
{box-sizing: border-box;
  
  align-items:center;

 width: 100%;
  margin: 0px;
  padding: 15px 0px 15px 20px ;
}

.fa-info {
  font-size: 12px ;
  color: #0065fc;
  font-weight:bolder;
   background-color: #ffffff;
  padding: 2px 6px 2px 6px;
  margin-right: 10px;
  border: solid 2px #f2f2f2;
  border-radius: 50%;
}

/*------------- SECTIONS 2 et 3---------------*/

.conteneur_S2_S3 {
  display: flex;
  flex-direction: column-reverse;
}

/* SECTION 2 Hébergements à marseille */
.section2 {
  display: flex;
  width:100%;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 30px 0px 10px 0px  ;
  border-radius: 0px;
  margin-right: 0px;
}

#Hébergements {display: flex;
  padding-top : 30px;
  padding-bottom: 20px;
  padding-left: 20px;
 
}


.conteneur_des_cartes_S2 {
  display: flex;

  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 20px;
 }
.cartesS2 {
  display: flex;
  width: 30% ;
  height:auto;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
   margin: 10px 20px 10px 0px;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #c9c9c9;
}

.conteneur_img {
  display: flex;
  width: auto;
  height: 80px ;
  margin:4px;
  
}
.image_de_la_carte {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  overflow:hidden;
}

.conteneur_text_s2 {
  display: flex;
  flex-direction: column;
  line-height: 15px;
  justify-content: center;
  padding-left: 12px;
  padding-bottom: 10px;
  padding-top: 5px;
}
.nuit
{
  font-size: 10px;
  line-height: 25px;
}
.valeur 
{
  font-weight: 900;
}
.euro 
{
  font-weight: 900;
}
.étoiles
{display:flex;
justify-content: left;
   
}
.fa-star {
 
  font-size:10px;
  color: #0065fc;
  
}
.fa-star.gris 
{
  color: #dfdfdf;
}
.cartesS2:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px gray;
  transform: translateY(-5px);
}
p.afficherplus {
  display: flex;
  font-size:14px;
  font-weight: 800;
  padding: 15px 0px 15px 0px;
}
a#afficher
{
  display:flex;
  justify-content: flex-start;
  width: 20%;
  padding-left: 20px;
}


/***************SECTION 3 Les plus populaires***********/

.section3 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  background-color: #ffffff;
  margin-left: 0px;
  padding:0px 0px 0px 0px;
}
.Titrepopulaires {box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px 20px 10px;
  margin-bottom: 0px;
}
#populaires {
  margin-bottom: 0px;

}


.conteneur_cartes_S3 
{box-sizing: border-box;
display: flex;
flex-direction: row;
width: 100%;
margin-bottom: 40px;
padding-left: 20px;

}

.cartesS3 {
  box-sizing: border-box;
  display: flex;
 
  width: 30%;
  height: 120px;
  margin: 10px 20px 10px 0px;
  
  
  padding: 3px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px ##c9c9c9;
}



.cartesS3 img {
  width: 100px;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
  object-fit: cover;
}

.conteneur_text_S3 {
  display: flex;
  height: 90%;
  width: 50%;
  flex-direction: column;
 
  justify-content: space-between;
 }


.cartesS3:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px gray;
  transform: translateY(-5px);
}
/*--------- SECTION 4 Activités à Marseille */

.section4 
{
display: flex;
flex-direction: column;
padding:30px 20px 20px 20px
}

.conteneur_des_colonnes
{
display: flex;
height: 300px;
}

.colonne_1
{
display: flex;
flex-direction: column;
width: 25%;
padding: 10px 20px 10px 0px;
}

.colonne_2
{
display: flex;
flex-direction: column;
width: 25%;
padding: 10px 20px 10px 10px;
justify-content: space-between;
}

.colonne_3
{
display: flex;
flex-direction: column;
width: 25%;
padding: 10px 20px 10px 10px;
}


.colonne_4
{
display: flex;
flex-direction: column;
width: 25%;
padding: 10px 0px 10px 10px;
justify-content: space-between;
}


.carte_grande_image
{
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 15px;
  box-shadow: 3px 3px 10px #808080;
}

.carte_grande_image:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px gray;
  transform: translateY(-5px);
}
.grande_image
{
  display: flex;
  width: 100%;
  height: 245px ;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover ;
  overflow:hidden;
}

.légende_carte
{
  display:flex;
  padding: 15px;
}

.carte_moyenne_image
{
  display: flex;
  flex-direction: column;
  height: 50%;
  border-radius: 15px;
  box-shadow: 3px 3px 10px #808080;
  padding: 0px;
}
.carte_moyenne_image:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px gray;
  transform: translateY(-5px);
}
.moyenne_image_de_la_carte
{
  width: 100%;
  height: 105px ;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover ;
  overflow:hidden;
}

.carte_petite_image
{
  display: flex;
  flex-direction: column;
  height: 37%;
  border-radius: 15px ;
  box-shadow: 3px 3px 10px #808080;
}
.carte_petite_image:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px gray;
  transform: translateY(-5px);
}
.petite_image_de_la_carte
{
  width: 100%;
  height: 70px;
  overflow:hidden;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover ;

}

figcaption {display: flex;
  font-size: 12px;
  font-weight:800;
  padding-top: 10px;
  padding-left: 10px;
}


/* -----------------Footer-------------- */


footer 
{
  display: flex;
  height: 150px;
  width: 100%;
  justify-content: space-between;
  

  background-color: #f2f2f2;
}

.conteneur_blocs_footer 
{
  display: flex;


  padding-left: 30px;
}

.bloc_footer 
{
  display: flex;
  flex-direction: column;
  margin: 0px 65px 0px 0px;
  height: 100%;
 
}


.elements_bloc_footer 
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  line-height: 20px;
 
 }
