@media all and (max-width: 768px)
{
    #bloc_page
    {
        width: auto;
        flex-direction: column;
        
      
    }

/* --------------------------------*/
/* ---------Règles générales-------*/


body 
{
  min-width: 320px;/* ------taille mini smarthone 4, 5 et 6'-----*/
  
}


main 
{
margin : 0px 0px 0px 0px;

}

h1
{

  font-size: 20px;
  font-weight:800;
  flex-wrap: wrap;
   line-height: 20px;
   padding-bottom: 10px;
}
h2 
{

  font-size: 20px;
  font-weight:800;
  flex-wrap: wrap;
   line-height: 20px;
}
h3 
{
  display: block;
  color: #000000;
  font-weight: 800;
  font-size: 14px;
  line-height: 15px;
}

h4
{ 
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

p 
{
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.bleu 
{
  color: #0065fc;
}
.bleuclair {
  color: #deebff;
}
.gris {
  color: #f2f2f2;
}

/* ------------------------------------------------------*/
/* ----------Règles applicables au HEADER ---------------*/
/* ------------------------------------------------------*/
header 
{
  display: flex;

  flex-direction: column;
  align-items:center;
  height: 150px;
  width: auto;
}

.Titre_principale_slogan
{ 
  display : flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px
}



}
#bloclogo{display: flex;
  
  margin-top: 20px;
  width: 30%;
 padding-left: 0px;
}

nav 
{ 
  display: flex;
  width: 100%;

  
}

.liste_de_navigation
{
  display: flex;
 
  justify-content:space-around;
  width: 100%;
  padding-left: 0px;
  height: auto;
  
}

a 
{


align-items: center;
flex-direction: row;
text-decoration: none;
color: black;
}

a:link 
{ display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 15px ;
  font-weight: 500;
}

a:hover 
{
  color: #0065fc;

}

.élément_de_navigation 
{
  display: flex;
  justify-items:center;
  border: 3px solid transparent;
  border-bottom: 3px solid #f2f2f2;
  justify-content: center;
  width:100%;
  margin: 0px;
  padding : 0px 0px 10px 0px
}



.élément_de_navigation:hover 
{
  display: flex;
  border-top: none;
  border-bottom: 3px solid #0065fc;
 

}

/*-------------Bloc  SECTION 1  recherche---------------*/
.section_de_recherche
{
margin-left: 10px;
}

.barre_de_recherche 
{
  display:flex;
  justify-content: space-between;
  align-items: center;
  border: solid #f2f2f2 1px;
  border-radius: 15px 15px 15px 15px;
  width: 302px;
}

.fa-location-dot 
{
  display: flex;
  
  background-color: rgb(236, 236, 236);
  padding: 15px 18px 15px 18px;
 border-radius: 14px 0 0 14px;
  
}

input::placeholder
{ display: inline;
  border: none;
  font-size:medium;
  color: #000000;
  font-weight: 600;
  padding-left: 5px;
  width: 209px;
}


button 
{
  display: none;
}


#fa-search
{
  display:flex;
  color:white;
  width: 46px;
  height: 46px;
  align-items: center;
  border-radius:15px;
  justify-content: center;
  font-size: 16px;

}


button:hover 
{
  box-shadow: 5px 5px 10px rgba(151, 151, 151, 0.808);
  cursor: pointer;
}

button:active 
{
  background: linear-gradient(#0246acec, #0060f0ef, #025adfea, #044099e1);
  padding-top: 2px;
}


/*-------------FILTRES---------------*/

.zonefiltres 
{
  display: flex;
  flex-direction: column;
  align-items:start;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 0px;
}

.libellé_Filtres
{display: flex;
  font-size: 16px;
  font-weight: 800;
  padding-left: 10px;
  padding-bottom: 10px;
}

.container_boutons
{
  display:flex;
  flex-wrap: wrap;

}


.boutondetri /* cible le bouton dans son intégralité */ 
{
  display: flex;
  align-items: center;
  border: solid #ebe8e8 2px;
  height: 35px;
  border-radius: 25px;
  padding-bottom: 3px;
  padding-top: 2px;
  padding-right: 2px;
  margin: 0px 10px 10px 0px;
  
}



.boutondetri:hover /* cible le bouton dans son intégralité */ 
{
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(224, 224, 224, 0.808);
  transform: translateY(-1px);
  background-color: #f2f2f2;
}

.boutondetri:active 
{
  box-shadow: 5px 5px 10px rgba(248, 247, 247, 0.808);
  transform: translateY(-1px);
}

.boutondetri i /* cible les icônes des filtres */ 
{
  display: flex;
  background-color: #deebff;
  padding: 14px;
  color: #0065fc;
  margin-top: 2px;
  margin-right: 10px;
  margin-left: -2px; /* alignement sur le trait de contour */
  margin-bottom: 1px;
  border-radius: 50%;

}
.libellébouton 
{
  font-size: 15px;
  font-weight: 800;
  padding-right: 10px;
}


.Résultats_de_recherche 
{
  display: flex;
  align-items:flex-start;
 
  margin: 10px;
  padding: 15px 0px 15px 0px ;
}

.fa-info {
  font-size: 12px ;
  color: #0065fc;
  font-weight:bolder;
   background-color: #ffffff;
  padding: 2px 6px 2px 6px;
  margin-right: 10px;
  border: solid 2px #f2f2f2;
  border-radius: 50%;
}

/*------------- SECTIONS 2 et 3---------------*/

.conteneur_S2_S3 {
  display: flex;
  flex-direction: column-reverse;
}

/* SECTION 2 Hébergements à marseille */

.section2 {
  display: flex;
  width: 100%;
  flex-direction: column;

  background-color: #ffffff;
  padding-left: 20px;
  border-radius: 20px;
  margin-left: 0px;
}

#Hébergements {
  padding : 10px 0px 15px 0px;
 
}

.conteneur_des_cartes_S2 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
  flex-wrap: wrap;
 }




.cartesS2 {
  display: flex;
  width: 90%;
  height:170px;
  flex-direction:column;
  justify-content: flex-start;
    
  background-color: rgb(255, 255, 255);
  margin: 0px 0px 20px 0px;
  padding: 0px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #808080;
}

.conteneur_img {
  display: flex;
  width: auto;
  height: 100px ;
  
  
}
.image_de_la_carte {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  overflow:hidden;
}

.conteneur_text_s2 {
  display: flex;
  height: 70px;
  flex-direction: column;

  justify-content:start;
  padding-left: 12px;
  padding-bottom: 0px;
  padding-top: 4px;
}
.nuit
{
  font-size: 12px;
}
.valeur 
{
  font-weight: 600;
  font-size: 14px;
}

.euro 
{
  font-weight: 800;
}

.étoiles
{display:flex;
justify-content: left;
padding-top: 3px;
   
}
.fa-star {
 
  font-size:10px;
  color: #0065fc;
  
}
.fa-star.gris 
{
  color: #dfdfdf;
}

.cartesS2:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px gray;
  transform: translateY(-5px);
}

.afficherplus {
  font-size: 16px;
  font-weight: 800;
  padding: 10px 0px 0px 0px;
}

/*********** SECTION 3 Les plus populaires***********/

.section3 {
  display: flex;
  min-width:fit-content;
  flex-direction:column;
  background-color: #f2f2f2;
  padding-left: 20px;
  border-radius: 0px;
  margin-left: 0px
}

.Titrepopulaires {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
  margin-bottom: 25px;
  margin-top: 25px;
}
#populaires {
  margin-bottom: 0px;
  margin-top: 0px;
}
.fa-chart-line {
font-size:20px;
font-weight: bolder;
}

.conteneur_cartes_S3 {
  display: flex;
  flex-direction: column;
  
  justify-content: space-between;
  margin: 0px 0px 0px 0px;
  height: 100%;
  line-height: 20px;
}

.cartesS3 {
  display: flex;
  background-color: #ffffff;
  border-radius: 0px 15px 15px 0px;
  align-items: center;
  height: 120px;
  width: 300px;;
  padding: 4px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px  #f2f2f2;
  margin-bottom: 10px;
}

.conteneur_img3 {
  display: flex;
  max-width: 120px;
  height: 120px;
  
}

.cartesS3 img {
  width: 100%;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
  object-fit: cover;
}

.conteneur_text_S3 
{
  display: flex;
  height: 80%;
  width: 60%;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left:20px;
  padding-right: 30px;
  justify-content: space-between;
 }


.cartesS3:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px rgb(158, 158, 158);
  transform: translateY(-5px);
}
/*--------- SECTION 4 Activités à Marseille */

.section4 
{
display: flex;
flex-direction: column;
padding:30px 10px 30px 10px
}


.conteneur_des_colonnes
{
display: flex;
height: auto;
flex-wrap: wrap;
}

.colonne_1
{
display: flex;
flex-direction: column;
width: 100%;
height: 50%;
padding: 10px 10px 10px 10px;
}

.colonne_2
{
display: flex;
flex-direction: column;
width: 100%;
height: auto%;
padding: 10px 10px 10px 10px;
justify-content: space-between;
}

.colonne_3
{
display: flex;
flex-direction: column;
width: 100%;
height: 50%;
padding: 10px 10px 10px 10px;
}


.colonne_4
{
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
padding: 10px 0px 10px 10px;
justify-content: space-between;
}


.carte_grande_image
{
  display: flex;
  flex-direction: column;
  height: 170px;
  border-radius: 20px 20px 20px 20px;
  padding: 0px;
  box-shadow: 3px 3px 10px #808080;
}

.carte_grande_image:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px gray;
  transform: translateY(-5px);
}

      .grande_image
      {
 
      width: 100%;
      height: 70% ;
      border-radius: 20px 20px 0px 0px;
      object-fit:cover;
      }

      .légende_carte
      {
        display:flex;
        padding: 15px;
      }




.carte_moyenne_image
{
display: flex;
flex-direction: column;
height: 170px;
border-radius: 20px;
box-shadow: 3px 3px 10px #808080;
margin-bottom: 20px;
}

.carte_moyenne_image:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px gray;
  transform: translateY(-5px);
}


.moyenne_image_de_la_carte
{
width: 100%;
height: 70% ;
border-radius: 20px 20px 0px 0px;
object-fit: cover ;
}

.carte_petite_image
{
display: flex;
flex-direction: column;
height: 170px;
border-radius: 20px ;
box-shadow: 3px 3px 10px #808080;
padding: 0px;
}
.carte_petite_image:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px gray;
  transform: translateY(-5px);
}


.petite_image_de_la_carte
{
  width: 100%;
  height: 70% ;
  object-fit: cover ;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover ;
}

#Activités
{
  display:flex;
  padding: 0px 0px 20px 10px;
}
/* -----------------Footer-------------- */


footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
  width: auto;
  height:450px;
}

.conteneur_blocs_footer {
  display: flex;
  flex-direction: column;
  align-items:baseline;
  justify-content:center;
  padding-left: 20px;
  
  
}

.bloc_footer {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
  height: 100%;
  padding-bottom: 30px;
  
}
 

li.element_de_bloc {
display: flex;
flex-direction: column;

list-style: none;
line-height: 30px;

 }














































}








