@media all and (min-width:769px) and (max-width:991px) 
{
    #bloc_page
    {
        width: auto;
        flex-direction: column;
        
    }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}









/* --------------------------------*/
/* ---------Règles générales-------*/


#bloc_page{
  min-width: 769px;/* ------taille mini smarthone 4, 5 et 6'-----*/
  max-width: 991px;
}


main 
{
margin : 0px 0px 0px 0px;

}

h1
{display: flex;
justify-content: center;
  font-size: 18px;
  font-weight:800;
  flex-wrap: wrap;
   line-height: 20px;
   padding-bottom: 10px;
}
h2 
{
   
  font-size: 18px;
  font-weight:800;
  flex-wrap: wrap;
   line-height: 20px;
}
h3 
{
  display: block;
  color: #000000;
  font-weight: 800;
  font-size: 14px;
  line-height: 15px;
}

h4
{ 
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

p 
{
    
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}


/* ------------------------------------------------------*/
/* ----------Règles applicables au HEADER ---------------*/
/* ------------------------------------------------------*/
header 
{
  display: flex;

  flex-direction: column;
  align-items:center;
  height: 150px;
  width: auto;
}

.Titre_principale_slogan
{ 
  display : flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px
}




#bloclogo{display: flex;
  
  margin-top: 20px;
  width: 30%;
 padding-left: 0px;
}

nav 
{ 
  display: flex;
  width: 100%;

  
}

.liste_de_navigation
{
  display: flex;
 
 
  width: 50%;

  height: auto;
  
}

a 
{
align-items: center;
flex-direction: row;
text-decoration: none;
color: black;
}

a:link 
{ display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 15px ;
  font-weight: 500;
}

a:hover 
{
  color: #0065fc;

}

.élément_de_navigation 
{
  display: flex;
  justify-items:center;
  border: 3px solid transparent;
  border-bottom: 3px solid #f2f2f2;
  justify-content: center;
  width:100%;
  margin: 0px;
  padding : 0px 0px 10px 0px
}



.élément_de_navigation:hover 
{
  display: flex;
  border-top: none;
  border-bottom: 3px solid #0065fc;
 

}

/*-------------Bloc  SECTION 1  recherche---------------*/
.section_de_recherche
{display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-left: 10px;
}

.barre_de_recherche 
{
  display:flex;
  align-items: baseline;
  border: solid #f2f2f2 1px;
  border-radius: 15px 15px 15px 15px;
  width: 267px;
  height:45px;
  margin-top:15px
}

.fa-location-dot 
{
  display: flex;
  
  background-color: rgb(236, 236, 236);
  padding: 15px 18px 15px 18px;
 border-radius: 14px 0 0 14px;
  
}

input::placeholder
{ display: inline;
  border: none;
  font-size:medium;
  color: #000000;
  font-weight: 600;
  padding-left: 5px;
  width: 209px;
}


button 
{
  display: none;
}


#fa-search
{
  display:flex;
  color:white;
  width: 46px;
  height: 46px;
  align-items: center;
  border-radius:15px;
  justify-content: center;
  font-size: 16px;

}


button:hover 
{
  box-shadow: 5px 5px 10px rgba(151, 151, 151, 0.808);
  cursor: pointer;
}

button:active 
{
  background: linear-gradient(#0246acec, #0060f0ef, #025adfea, #044099e1);
  padding-top: 2px;
}


/*-------------FILTRES---------------*/

.zonefiltres 
{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 0px;
}

.libellé_Filtres
{display: flex;
  font-size: 16px;
  font-weight: 800;
  padding-right: 10px;
  padding-bottom: 10px;
}

.container_boutons
{
  display:flex;
  flex-wrap: wrap;

}


.boutondetri /* cible le bouton dans son intégralité */ 
{
  display: flex;
  align-items: center;
  border: solid #ebe8e8 2px;
  height: 35px;
  border-radius: 25px;
  padding-bottom: 3px;
  padding-top: 2px;
  padding-right: 2px;
  margin: 0px 10px 10px 0px;
  
}



.boutondetri:hover /* cible le bouton dans son intégralité */ 
{
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(224, 224, 224, 0.808);
  transform: translateY(-1px);
  background-color: #f2f2f2;
}

.boutondetri:active 
{
  box-shadow: 5px 5px 10px rgba(248, 247, 247, 0.808);
  transform: translateY(-1px);
}

.boutondetri i /* cible les icônes des filtres */ 
{
  display: flex;
  background-color: #deebff;
  padding: 14px;
  color: #0065fc;
  margin-top: 2px;
  margin-right: 10px;
  margin-left: -2px; /* alignement sur le trait de contour */
  margin-bottom: 1px;
  border-radius: 50%;

}
.libellébouton 
{
  font-size: 15px;
  font-weight: 800;
  padding-right: 10px;
}


.Résultats_de_recherche 
{
  display: flex;
  align-items:center;
  justify-content: center;
 width: 100%;
  margin: 10px;
  padding: 15px 0px 15px 0px ;
}

.fa-info {
  font-size: 12px ;
  color: #0065fc;
  font-weight:bolder;
   background-color: #ffffff;
  padding: 2px 6px 2px 6px;
  margin-right: 10px;
  border: solid 2px #f2f2f2;
  border-radius: 50%;
}

/*------------- SECTIONS 2 et 3---------------*/

.conteneur_S2_S3 {
  display: flex;
  flex-direction: column-reverse;
}

/* SECTION 2 Hébergements à marseille */

.section2 {
  display: flex;
  width: 100%;
  flex-direction: column;

  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 0px;
  margin-top: 20px;
}

#Hébergements {
  padding-top : 30px;
  padding-bottom: 20px;
 
}

.conteneur_des_cartes_S2 {
  display: flex;
  justify-content:left;
  align-items: center;
  flex-wrap: wrap;
 }

.cartesS2 {
  display: flex;
  width: 30%;
  height:auto;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin: 10px ;
  justify-content: center;
  border-radius: 20px;
 
  box-shadow: 3px 3px 10px #808080;
}

.conteneur_img {
  display: flex;
  width: auto;
  height: 80px ;
  margin:4px;
  
}
.image_de_la_carte {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  overflow:hidden;
}

.conteneur_text_s2 {
  display: flex;
  flex-direction: column;
  line-height: 15px;
  justify-content: center;
  padding-left: 12px;
  padding-bottom: 10px;
  padding-top: 5px;
}
.nuit
{
  font-size: 10px;
  line-height: 25px;
}
.valeur 
{
  font-weight: 900;
}

.euro 
{
  font-weight: 900;
}

.étoiles
{display:flex;
justify-content: left;
   
}
.fa-star {
 
  font-size:10px;
  color: #0065fc;
  
}
.fa-star.gris 
{
  color: #dfdfdf;
}

.cartesS2:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px gray;
  transform: translateY(-5px);
}

.afficherplus {
  font-size: 16px;
  font-weight: 800;
  padding: 20px 0px 5px 10px;
}


/***************SECTION 3 Les plus populaires***********/

.section3 {
  display: flex;
  width: 100%;
  flex-direction: column;

  background-color: #ffffff;
  margin-left: 0px;
}

.Titrepopulaires {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0px 30px;
  margin-bottom: 0px;
}
#populaires {
  margin-bottom: 0px;
}


.conteneur_cartes_S3 
{
display: flex;
flex-direction: row;
padding-left: 10px;
}

.cartesS3 {
  display: flex;
  
  height: 100px;
  width: 100%;
  padding: 3px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px #808080;
}



.cartesS3 img {
  width: 100px;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
  object-fit: cover;
}

.conteneur_text_S3 {
  display: flex;
  height: 90%;
  width: 50%;
  flex-direction: column;
  
  justify-content: space-between;
 }


.cartesS3:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px gray;
  transform: translateY(-5px);
}
/*--------- SECTION 4 Activités à Marseille */

.section4 
{
display: flex;
flex-direction: column;
}

#Activités {
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 5px;
}


.conteneur_des_colonnes
{
display: flex;
justify-content: center;
padding-left: 30px;
width: 94%;
height: 380px;}


.colonne_1
{
display: flex;
flex-direction: column;
width: 25%;
padding: 10px 10px 10px 0px;
}

.colonne_2
{
display: flex;
flex-direction: column;
width: 25%;
padding: 10px 10px 10px 10px;
justify-content: space-between;
}

.colonne_3
{
display: flex;
flex-direction: column;
width: 25%;
padding: 10px 10px 10px 10px;
}


.colonne_4
{
display: flex;
flex-direction: column;
width: 25%;
padding: 10px 0px 10px 10px;
justify-content: space-between;
}


.carte_grande_image
{
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 15px;

  box-shadow: 3px 3px 10px #808080;
}

.carte_grande_image:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px gray;
  transform: translateY(-5px);
}
.grande_image
{
  display: flex;
  width: 100%;
  height: 100% ;
border-radius: 15px 15px 0px 0px;
  object-fit: cover ;
}

.légende_carte
{
  display:flex;
  padding: 15px;
}




.carte_moyenne_image
{
  display: flex;
  flex-direction: column;
  height: 50%;
  border-radius: 15px;
  box-shadow: 3px 3px 10px #808080;
  padding: 0px;
}
.carte_moyenne_image:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px gray;
  transform: translateY(-5px);
}
.moyenne_image_de_la_carte
{
  width: 100%;
  height: 70% ;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover ;
}


.carte_petite_image
{
  display: flex;
  flex-direction: column;
  height: 37%;
  border-radius: 15px ;
  box-shadow: 3px 3px 10px #808080;

}
.carte_petite_image:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px gray;
  transform: translateY(-5px);
}
.petite_image_de_la_carte
{
  width: 100%;
  height: 70% ;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover ;
}
/* -----------------Footer-------------- */


footer 
{
  display: flex;
  height: 150px;
  width: 991px;
  justify-content: space-between;
  

  background-color: #f2f2f2;
}
.section2 {
  display: flex;
  width: 100%;
  flex-direction: column;

  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 0px;
  margin-top: 20px;
}
.conteneur_blocs_footer 
{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  padding-left: 30px;
}

.bloc_footer 
{
  display: block;
  flex-direction: column;
  margin: 0px 155px 0px 0px;
  height: 100%;
 
}


.elements_bloc_footer 
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  line-height: 20px;
 
 }
