


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







/* --------------------------------*/
/* ---------Règles générales-------*/

#bloc_page
{
  justify-content: center;
 
  font-family: "Raleway", sans-serif;
  font-size: 16px ;
}

body 
{
  width: auto;
}


main 
{
margin : 0px 30px 20px 30px;

}


h1,h2 
{
  font-weight: bolder;
  font-size: 16px;
  font-weight:800;
}

h3 
{
  display: inline-flex;
  color: #000000;
  font-weight: 800;
  font-size: 11px;
  line-height: 10px;
}

h4
{ 
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
}

p 
{
  font-size: 12px;
  line-height: 30px;
  font-weight: 600;
}

/* ------------------------------------------------------*/
/* ----------Règles applicables au HEADER ---------------*/
/* ------------------------------------------------------*/
header 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.Titre_principale_slogan
{
  margin: 10px
}



#bloclogo
{
  display: flex;
  width: 23%;
  padding-left: 38px;

}

nav 
{
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
  justify-content: center;
}

.liste_de_navigation 
{
  display: flex;
  align-items: center;
  padding-left: 0px;
  height: 100%;
}

a 
{
align-items: center;
flex-direction: row;
text-decoration: none;
color: black;
}

a:link 
{
  text-decoration: none;
  color: black;
  font-size: 12px ;
  font-weight: 600;
}

a:hover 
{
  color: #0065fc;
}

.élément_de_navigation 
{
  display: flex;
  border: 3px solid transparent;
  height: 93%;
  align-items: center;
  width: auto;
  margin: 10px;
  padding : 0px 10px 0px 10px
}

.élément_de_navigation:hover 
{
  display: flex;
  border-top: 3px solid #0065fc;
}

/*-------------Bloc  SECTION 1  recherche---------------*/
.section_de_recherche
{

}

.barre_de_recherche 
{
  display: inline-flex;
  align-items: center;
  border: solid #e6e6e6 1px;
  border-radius: 10px 10px 10px 10px;
  margin-left: 10px;
}

.fa-location-dot 
{
  display: flex;
  background-color: rgb(236, 236, 236);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px 0 0 10px;
}


input::placeholder
{ display: inline;
  border: none;
  font-size:medium;
  color: #000000;
  font-weight: 600;
  padding-left: 5px;
  width: 209px;
}

input#recherche_lieu
{border : none}


button 
{
  display: inline-block;
  height: 36px;
  border-style: none;
  background-color: #0065fc;
  border-radius: 0 10px 10px 0;
  padding-left: 20px;
  padding-right: 20px;
}

#fa-search
{
  display:none;
}


button:hover 
{
  box-shadow: 5px 5px 10px rgba(199, 198, 198, 0.808);
  cursor: pointer;
}

button:active 
{
  background: linear-gradient(#014dc0ec, #0060f0ef, #025adfea, #0156d6e1);
  padding-top: 2px;
}

.recherche {
  color: rgb(255, 255, 255);
}

/*-------------FILTRES---------------*/

.zonefiltres 
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 10px;
}
.libellé_Filtres
{display: flex;
  font-size: 13px;
  font-weight: 800;
  padding-left: 10px;
}
.container_boutons
{
  display:flex;
  flex-wrap: wrap;

}
.boutondetri /* cible le bouton dans son intégralité */ 
{
  display: flex;
  align-items: center;
  border: solid #ebe8e8 1px;
  height: 30px;
  border-radius: 17.5px;
  padding-bottom: 3px;
  padding-top: 2px;
  padding-right: 10px;
  margin: 0px 10px 0px 10px;
  
}



.boutondetri:hover /* cible le bouton dans son intégralité */ 
{
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(224, 224, 224, 0.808);
  transform: translatey(-1px);
  background-color: #0065fc;
  color:#ffffff;}
.boutondetri:active 
{
  box-shadow: 5px 5px 10px rgba(248, 247, 247, 0.808);
  transform: translateY(-1px);
}

.boutondetri i /* cible les icônes des filtres */ 
{
  display: flex;
  background-color: #deebff;
  padding: 10px;
  color: #0065fc;
  margin-top: 2px;
  margin-right: 10px;
  margin-left: -1px; /* alignement sur le trait de contour */
  border-radius: 50%;
}

.libellébouton 
{
  font-size: 13px;
  font-weight: 800;
  padding-right: 10px;
}

.Résultats_de_recherche 
{
  display: inline-flex;
  align-items: center;
  margin: 10px;
  padding: 15px 0px 15px 0px ;
}

.fa-info {
  font-size: 10px ;
  color: #0065fc;
  font-weight:bolder;
   background-color: #ffffff;
  padding: 2px 6px 2px 6px;
  margin-right: 5px;
  border: solid 2px #f2f2f2;
  border-radius: 50%;
}

/*------------- SECTIONS 2 et 3---------------*/

.conteneur_S2_S3 {
  display: flex;
}

/* SECTION 2 Hébergements à marseille */

.section2 {
  display: flex;
  width: 70%;
  flex-direction: column;

  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 20px;
  margin-right: 5px;
}

#Hébergements {
  padding-left: 30px;
  padding-bottom: 10px;
 
}

.conteneur_des_cartes_S2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 }

.cartesS2 {
  display: flex;
  width: 29%;
  height:auto;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin: 10px 10px 10px 10px;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #808080;
}

.conteneur_img {
  display: flex;
  width: auto;
  height: 80px;
  margin:4px;
  
}
.image_de_la_carte {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  overflow:hidden;
}

.conteneur_text_s2 {
  display: flex;
  flex-direction: column;
 
  justify-content: center;
  padding-left: 12px;
  padding-bottom: 10px;
  padding-top: 5px;

}
.nuit
{
  font-size: 10px;
  line-height: 25px;
}
.valeur 
{
  font-weight: 900;
}

.euro 
{
  font-weight: 900;
}

.étoiles
{display:flex;
justify-content: left;
   
}
.fa-star {
 
  font-size:10px;
  color: #0065fc;
  
}
.fa-star.gris 
{
  color: #dfdfdf;
}

.cartesS2:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px gray;
  transform: translateY(-5px);
}

.afficherplus {
  font-size: 13px;
  font-weight: 800;
  padding: 15px 0px 0px 30px;
}

/* SECTION 3 Les plus populaires */

.section3 {
  display: flex;
  width: 30%;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-left: 10px
}

.Titrepopulaires {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 5px 20px;
  margin-bottom: 0px;
}
#populaires {
  margin-bottom: 0px;
}

.fa-chart-line {
  font-weight: bolder;
  font-size: 20px;

}

.conteneur_cartes_S3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
  height: 100%;
  line-height: 20px;
}

.cartesS3 {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 3px;
  margin: 10px 20px 20px 20px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px #808080;
}


.cartesS3 img {
  width: 40%;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
  object-fit: cover;
}

.conteneur_text_S3 {
  display: flex;
  height: 90%;
  width: 60%;
  flex-direction: column;
  padding:10px;
  justify-content: space-between;
 }


.cartesS3:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px gray;
  transform: translateY(-5px);
}
/*--------- SECTION 4 Activités à Marseille */

.section4 
{
display: flex;
flex-direction: column;
padding:30px 0px 20px 0px
}

.conteneur_des_colonnes
{
display: flex;
height: 300px;
}

.colonne_1
{
display: flex;
flex-direction: column;
width: 25%;
padding: 10px 20px 10px 0px;
}

.colonne_2
{
display: flex;
flex-direction: column;
width: 25%;
padding: 10px 20px 10px 10px;
justify-content: space-between;
}

.colonne_3
{
display: flex;
flex-direction: column;
width: 25%;
padding: 10px 20px 10px 10px;
}


.colonne_4
{
display: flex;
flex-direction: column;
width: 25%;
padding: 10px 0px 10px 10px;
justify-content: space-between;
}


.carte_grande_image
{
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 15px;
  box-shadow: 3px 3px 10px #808080;
}

.carte_grande_image:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px gray;
  transform: translateY(-5px);
}
.grande_image
{
  display: flex;
  width: 100%;
  height: 245px ;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover ;
  overflow:hidden;
}

.légende_carte
{
  display:flex;
  padding: 15px;
}

.carte_moyenne_image
{
  display: flex;
  flex-direction: column;
  height: 50%;
  border-radius: 15px;
  box-shadow: 3px 3px 10px #808080;
  padding: 0px;
}
.carte_moyenne_image:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px gray;
  transform: translateY(-5px);
}
.moyenne_image_de_la_carte
{
  width: 100%;
  height: 105px ;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover ;
  overflow:hidden;
}

.carte_petite_image
{
  display: flex;
  flex-direction: column;
  height: 37%;
  border-radius: 15px ;
  box-shadow: 3px 3px 10px #808080;
}
.carte_petite_image:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px gray;
  transform: translateY(-5px);
}
.petite_image_de_la_carte
{
  width: 100%;
  height: 70px;
  overflow:hidden;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover ;

}

figcaption {display: flex;
  font-size: 10px;
  font-weight:900;
  padding-top: 10px;
  padding-left: 10px;
}


/* -----------------Footer-------------- */

footer 
{
  display: flex;
  height: 150px;
  align-items: center;
  background-color: #f2f2f2;
}

.conteneur_blocs_footer 
{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  padding-left: 30px;
}

.bloc_footer 
{
  display: block;
  flex-direction: column;
  margin: 0px 155px 0px 0px;
  height: 100%;
 
}


.elements_bloc_footer 
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  line-height: 20px;
 
 }

