/* --------------------------------*/
/* ---------Règles générales-------*/
/* --------------------------------*/

html
	{
	font-family: 'Raleway', sans-serif;
	}

h1 { 
	font-size: 20px;
	}

p {
	font-size:14px;
	}

/* ------------------------------------------------------*/
/* ----------Règles applicables au HEADER ---------------*/
/* ------------------------------------------------------*/
header { display: flex;
	
	justify-content: space-between;
	align-items: center;
	height: 100px;
	

	
		}

	.bloclogo 
	{
	display: flex;
	align-items: center;
	justify-content: center;

	}

		#logo img 
		{		
		justify-content: center;
		width: 60%;
		
		}	
	


	nav
		{   
		display: flex;
		align-items: center;
		height: 100%;
		width: auto;
		justify-content:center;
		}

		ul
		{
		display: flex;
		align-items: center;
		padding-left: 0px;
		height: 100%
	
		}

		a:link 
		{ 
 		text-decoration:none; 
		color : black;
		} 

		a:hover 
		{
		color : blue;

		}

				li 
				{
				display: flex;
				border: 3px solid transparent;
				height: 95%;
				align-items: center;
				width: auto;
				margin: 10px;						
				}	

				li:hover 
				{ 
				display: flex;
				border-top: 3px solid rgb(11, 137, 255);
				font-style : color blue;
				}

/*-------------Bloc de SECTION 1 de recherche---------------*/


.barre_de_recherche
{
display: inline-flex;

align-items: center;
border: solid #e6e6e6 1px;
border-radius: 10px 10px 10px 10px;

}

		
		
	.fa-location-dot 
	{
		display: flex;

		background-color: rgb(236, 236, 236);
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 13px;
		padding-bottom: 15px;
		border-radius: 10px 0 0 10px;
		
		

	}

	input {display :inline-block;
		
		border:none;
		font-weight: 700;
		padding-left: 10px;
		margin-right: 2px;
		
	}

	button
	{ display: inline-block;
		height: 44px;
		border-style: none;
		background-color: #006effaf;
		
		border-radius: 0 10px 10px 0;

		padding-left: 20px;
		padding-right: 20px;

	}
	.recherche {color: rgb(255, 255, 255);}
	/*-------------FILTRES---------------*/


	.zonefiltres 
	{
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-left: 10px;


	
	
	}


		h3{
		display:flex;
		margin-right: 10px;
		margin-top: 6px;
		}

		.boutondetri /* cible le bouton dans son intégralité */
		{
			display:flex;
			align-items: center;
			border: solid #ebe8e8 1px;
			height:30px;
			background-color: rgba(255, 255, 255, 0.226);
			border-radius: 16px ;
			padding-bottom: 3px;
			padding-top: 2px;
			padding-right: 10px;
			margin-right: 10px;
			font-weight: 700;
		
		}
		
		.boutondetri i /* cible l'icône */
		{ 
			display: flex;
			background-color: #55bbff7e;
			padding: 10px;
			
			margin-top: 2px;
			margin-right: 10px;
			margin-left: -1px; /* alignement sur le trait de contour */
			border-radius: 50%;
			
		}
		.boutondetri i:hover/* cible l'icône */
		{ 
			display: flex;
			background-color: #2d88f0;
			color : rgb(255, 255, 255);
			padding: 10px;
			margin-top: 2px;
			margin-right: 10px;
			margin-left: -1px; /* alignement sur le trait de contour */
			border-radius: 50%;
			
		}

		.Résultats_de_recherche 
		{
		display: inline-flex;
			align-items: center;
			margin-left:10px ;


			
		}
		.fa-info {
			margin :  10px;
			background-color: #8d848450;
			padding: 10px 15px 10px 15px;
			border-radius: 50%;
		}




/*-------------Bloc de SECTION 2 et 3---------------*/
.Blocsection 
{
display: flex;
justify-content: space-around;
border: solid #00c3ff 3px;

}
	


	/* SECTION 2 Hébergements à marseille */


	.section2
	{
	display: flex;
	flex-direction:column;
	justify-content:center;
	border: solid #ff0000 3px;
	background-color: rgba(255, 255, 255, 0.782);
		
		}
		.conteneur_des_cartes_S2 
		{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 10px;
		background-color: rgb(209, 209, 209);
	
		border-radius: 20px;
					
		}


			.S2L1 /*----ligne de 3 cards n°1----*/
			{ display : flex;
			

		
			}
			.S2L2 
			{ display : flex;
			
		
			}

			.cartesS2
			{
				display:flex;
				flex-direction: column;
				border: solid #4400ff 3px;
				background-color: rgb(255, 255, 255);
				justify-content: space-around;
				min-height:200px;
				min-width:100px;
				font-size: 60%;
				border-radius:2rem;
				box-shadow:3px 3px 10px 
				
			}
		
	  
	  
				.conteneur_img
				{
					display: flex;
					width:auto;
					height:auto;
					margin: 2%;
				
				}	  
					.image_de_la_carte
					{
						width:100%;
						height:100%;
						border-radius:2rem 2em 0 0;
						object-fit:cover;
					}
					
					.conteneur_text
					{
						padding-left:1rem;
					}

					.fa-star{
						color:#0065FC;
					  }
				
	  
	  
			.card:hover
			{

				cursor:pointer;
				box-shadow:5px 5px 10px gray;
				transform:translateY(-5px);
			}
			
	

	.conteneur_cartes_S3 
	{
	display: flex;
	border: solid #4400ff 3px;
	flex-direction: column;		
	justify-content: center;
	align-items: center;
							
	}
	

				.cartesS3 { display: flex;
					
					border: solid #4400ff 3px;
					
					width: 300px;
					height: 150px;
					border-radius:2rem;
					box-shadow:3px 3px 10px ;
					font-size: 70%;
				  }
					
				  
				  
				  .conteneur_img3{ display: flex;
					max-width:100px;
					height:100px ;
					margin: 2%;}
				  
				  .cartesS3 img {
					width:100%;
					height:100%;
					border-radius:15px 15px 15px 15px;
					object-fit:cover;
				  }
				  
				  .conteneur_text{display:flex;
					flex-direction: column;
					width: auto;
					border: solid #4400ff 3px;
					;
				  }
				  
				  
				  
				  .card:hover{
					cursor:pointer;
					box-shadow:5px 5px 10px gray;
					transform:translateY(-5px);
				  }
				  
				  .fas:not(:last-child){
					color:#0065FC;
				  }
	
	.étoiles 
	{


	}





	/* SECTION 3 LES PLUS POPULAIRES */

	.section3 {display: flex;
		flex-direction: column;
			

	}


	.Titrepopulaires { display :flex;

		border: 2px solid rgb(255, 1, 1);
		align-items: center ;
	}

	.fa-star {style="color:rgb(0, 119, 255)}
	.fa-star-grey 
	{style="color:rgb(0, 19, 255)}

	